.navbar-brand{
    font-weight: bolder;
    font-size: 30px;
}
.navbar-nav{
    font-weight: bold;
    float: right;
}
.app_header{
    margin-bottom: 15vh;
}
.btn{
    background: #8480FB;
    color: white;
}
.last > a {
    color: white;
}