.underline{
    border-bottom: 3px solid #B182FB;
    width: 18%;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
}
.yellow > circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 8;
    stroke: #FDB732;
    transform: translate(5px, 5px);
}
.blue > circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 8;
    stroke: #B182FB;
    transform: translate(5px, 5px);
}
.green > circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 8;
    stroke: #54B768;
    transform: translate(5px, 5px);
}
.number{
    margin-top: -15vh;
}
.number > .MuiSvgIcon-root{
    font-size: 50px;
}
/* service details */
.service_details{
    margin-top: 10vh;
}
.detail_item > h5{
    font-weight: bold;
}