.underline{
    border-bottom: 3px solid #B182FB;
    width: 18%;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
}
svg > circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 5;
    stroke: #B182FB;
    transform: translate(5px, 5px);
}
.number{
    top: 0;
    left: 0;
    margin-top: -15vh;
    margin-left: 3vh;
}
/* service details */
.service_details{
    margin-top: 10vh;
    display: flex;

}
.detail_item > h5{
    font-weight: bold;
}